  <h1>Welcome to {{ title }}'s Portfolio Page!</h1>
  <img alt="JohnShelleyJr" src="../assets/images/JohnShelleyJr.jpg">
  <app-greeting></app-greeting>
  <app-skills></app-skills>
  <app-contact-form></app-contact-form>
  <h1>I live in {{city}}, Arizona.</h1>
<div id = "content">
  <div class = "row">
    <p id = "p1">My coworkers call me "{{tagLine}}" because I provision, install, and maintain their phones.</p><br>
  </div>
    <div class = "row1">
    <p>A little bit about my career. {{aboutMe}}</p>
  </div>
</div>
<app-phone-book-form></app-phone-book-form>
<app-contacts-component></app-contacts-component>

