img {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 2px 5px 2px rgb(52, 30, 153);
}

h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

input {
    display: block;
    background-color: rgb(81, 234, 240);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 0px 3px 10px rgb(52, 30, 153);
    color: #06171b; 
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

